@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

}
@custom-variant dark (&:where(.dark, .dark *));

.theme-transition * {
  @apply transition-colors duration-500 ease-linear;
}
